body, html {
    margin: 0;
    padding: 0;
    
}
.content{
        display: flex; 
        margin: 0;
}
.bar, .leftrow {
    margin: 0; 
    padding: 0;
}
.bar {
    display: flex;
    background-color: black;
    padding: 20px;
    margin: 0%;
}

.profile_image{
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 20px;
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    object-position: center;
    border: 2px solid transparent; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
}


.profile_image:hover {
    transform: scale(1.2);
    border-color: #414141; 
    opacity: 0.7;
}

.title{
    color: white;
    font-family: cursive 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px; 
    margin-bottom: 10px; 
    margin-left: 45%; 
    margin-right: 15px;
    font-style: italic;
    font-size: 60px;
}

.leftrow{
    background-color: #6b6a6a;
    width: 40%;
    padding: 20px;
    margin: 0%;
}
.about{
color: white;
font-style: italic;
}

.skills{
    color: white;
    font-style: italic;
}
.contact{
    color: white;
    font-style: italic;
}

.Language{
    color: white;
    font-style: italic;
}
.Hobby{
    color: white;
    font-style: italic;
}
.rightrow{
    background-color: rgb(255, 255, 255);
    width: 60%;
    
}
.education{
    font-style: italic;
    padding-left: 20px;
    margin: 10px;
    margin-bottom: 30px;

}
.certification{
    font-style: italic;
    padding-left: 20px;
    margin: 10px;
    margin-bottom: 30px;

}
.experience{
    font-style: italic;
    padding-left: 20px;
    margin: 10px;

}

body {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;
}

body.dark-theme .bar {
    background-color: #333;
}

body.dark-theme .leftrow {
    background-color: #555;
}

body.dark-theme .rightrow {
    background-color: #222;
}
#themeToggleButton {
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    font-size: 12px;  
    border-radius: 5px; 
    background-color: #414141; 
    color: white;      
    border: 1px solid white; 
    cursor: pointer;    
}

